/* Corner Treatments On PLP */
.corner-treatments-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 12px 0 0 12px;                                   
}
.corner-treatments-wrapper .badge {
  background-color: #fff;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2.4px;     
  text-transform: uppercase;
  color: #242424;
  padding: 4px 20px 4px 13px;                       
  text-align: center;
  height: 32px;      
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.corner-treatments-wrapper .badge img {                             
  margin-right: 8px;                                     
}
@media screen and (min-width: 769px) {     
  .corner-treatments-wrapper .badge {        
    height: 32px;
  }
}
@media screen and (max-width: 768px) {
  .corner-treatments-wrapper {
    padding: 0;                                     
  }
  .corner-treatments-wrapper .badge {                
    padding: 4px 4px 0;                                       
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;       
    align-content: center;
  }
  .corner-treatments-wrapper .badge img {                             
    margin-right: 8px;            
    width: 22px;
    height: 22px;                                                                  
  }
}   
